In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

df = pd.read_csv('/Users/pemasherpa/Downloads/diabetes.csv')

In [9]:
df.describe()

          glucose  bloodpressure    diabetes
count  995.000000     995.000000  995.000000
mean    44.306533      79.184925    0.500503
std      6.707567       9.340204    0.500251
min     20.000000      50.000000    0.000000
25%     40.000000      72.000000    0.000000
50%     45.000000      80.000000    1.000000
75%     50.000000      87.000000    1.000000
max     70.000000     100.000000    1.000000

In [10]:
x_test,x_train,y_test,y_train = train_test_split(x,y,test_train_split=0.25,random_state=42)

NameError: name 'x' is not defined